<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page </title>
</head>

<body>
    <h1> Edit Page </h1>
    <form method="post" action="/campgrounds/<%= campground.id %>?_method=PUT">
        <label for="title"> Title : </label>
        <input type="text" id="title" placeholder="title" name="title" value="<%= campground.title %>">
        <label for="location"> Location : </label>
        <input type="text" id="location" placeholder="location" name="location" value="<%= campground.location %>">
        <button type="submit"> Submit </button>
    </form>
    <h1> Cancel - <a href="/campgrounds"> Click Here</a></h1>

</body>

</html>